* {
	font-family: "Calibri", san-serif;
}

header {
  display: grid;
  grid: ".   heading heading heading heading ." auto
        ".   class   topic   topic   topic   ." auto
        ".   date    time    period  lesson  ." auto
        /15% 1fr     1fr     1fr     1fr     15%;
  margin-bottom: 2em;
}

#details {
  display: grid;
  grid: ".   a-o   prep   ." 3em
        ".   a-o   k-cs   ." 3em
        ".   l-o   strats ." 3em
        ".   l-o   assess ." 3em
        ".   focus needs  ." 3em
        /15% 5fr   4fr    15%;
  margin-bottom: 2em;
}

/* #### HEADER #### */
#heading { grid-area: heading; }
#class { grid-area: class; }
#topic { grid-area: topic; }
#date { grid-area: date; }
#time { grid-area: time; }
#period { grid-area: period; }
#lesson { grid-area: lesson; }

/* #### DETAILS #### */
#a-o { grid-area: a-o; }
#l-o { grid-area: l-o; }
#focus { grid-area: focus; }
#prep { grid-area: prep; }
#k-cs { grid-area: k-cs; }
#strats { grid-area: strats; }
#assess { grid-area: assess; }
#needs { grid-area: needs; }


h1 {
  border: 1px solid black;
  background-color: lightgrey;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin: 0 0;
}

p#comment {
  font-weight: normal;
  font-style: normal;
  display: inline;
  font-size: 0.8em;
}

p {
  font-style: italic;
}

div {
  border: 1px solid black;
  padding: 0.2em 0.2em;
  font-weight: bold;
}

#controls {
  margin: 0 auto;
  width: fit-content;
  border: none;
}